.array-bar {
    background-color: aqua;
    border: 1px solid black;
    width: 100px;
    margin-right: 1px;
}

.container {
    display: flex;
}

.array {
    display: flex;
    width: 80vw;
    margin-top: 20vh;
    margin-left: 15vw;
    align-items: flex-end;
}